@using MovieLibrary.Business.ViewModel
@model MovieLibrary.Business.ViewModel.MovieViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
 @if (ViewBag.Message != null)
{
       <script type="text/javascript">
            window.onload = function() {
                alert("@ViewBag.Message");
            }; 
       </script> 

}
<div class="row">
    <div class="col-md-4">  
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmittedBy" class="control-label"></label>
                <input asp-for="SubmittedBy" class="form-control" />
                <span asp-validation-for="SubmittedBy" class="text-danger"></span>
            </div>
             <div>
                <label asp-for="Directors" class="control-label">Directors</label><br/>
                <select id="Directors"class="js-example-basic-single"name="directors[]" multiple="multiple">
                @foreach(DirectorViewModel item in ViewBag.Directors)
                    {
                        <option value=@item.DirectorId>@item.FirstName @item.LastName</option>
                    }
            </select>
            </div>
            <div>
                <label asp-for="Genres" class="control-label">Genres</label><br/>
                <select id="Genres"class="js-example-basic-single"name="genres[]" multiple="multiple">
                @foreach(GenreViewModel item in ViewBag.Genres)
                    {
                        <option value=@item.GenreId>@item.Caption</option>
                    }
            </select>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script> 
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>

