@using MovieLibrary.Business.ViewModel
@model MovieLibrary.Business.ViewModel.UserViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />

 @if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function() {
                alert("@ViewBag.Message");
});
       </script> 

}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OccupationId" class="control-label"></label>
                <select name="OccupationId" id="OccupationId" class="form-control">
                    @foreach( OccupationViewModel item in ViewBag.Occupations)
                    {
                        <option value=@item.OccupationId>@item.Caption</option>
                    }

                </select>
                <span asp-validation-for="OccupationId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script> 
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>

